<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a='http://schemas.android.com/apk/res/android' package='com.zeerd.dltviewer' a:versionCode='9' a:versionName='0.1.1'>
    <uses-permission a:name='android.permission.INTERNET'/>
    <uses-permission a:name='android.permission.WRITE_EXTERNAL_STORAGE'/>
    <uses-permission a:name="android.permission.ACCESS_WIFI_STATE" />
    <application a:label='Dlt Viewer Android' a:icon='@drawable/ic_launcher'>
        <activity a:name='com.zeerd.dltviewer.MainActivity'>
             <intent-filter>
                <category a:name='android.intent.category.LAUNCHER'/>
                <action a:name='android.intent.action.MAIN'/>
             </intent-filter>
        </activity>
        <activity a:name=".SettingActivity"
                  a:parentActivityName=".MainActivity" >
            <meta-data
                a:name="android.support.PARENT_ACTIVITY"
                a:value=".MainActivity" />
        </activity>
        <activity a:name=".ControlActivity"
                  a:parentActivityName=".MainActivity" >
            <meta-data
                a:name="android.support.PARENT_ACTIVITY"
                a:value=".MainActivity" />
        </activity>
        <activity a:name=".SearchActivity"
                  a:parentActivityName=".MainActivity" >
            <meta-data
                a:name="android.support.PARENT_ACTIVITY"
                a:value=".MainActivity" />
        </activity>
        <activity a:name=".HelpActivity"
                  a:parentActivityName=".MainActivity" >
            <meta-data
                a:name="android.support.PARENT_ACTIVITY"
                a:value=".MainActivity" />
        </activity>
        <activity a:name=".FilterActivity"
            a:parentActivityName=".MainActivity" >
            <meta-data
                a:name="android.support.PARENT_ACTIVITY"
                a:value=".MainActivity" />
        </activity>
    </application>
</manifest>
